/* 
    Created on : 04/09/2015, 12:36:02
    Author     : esteban
*/
.sortitem{background:#fff;border:2px solid #ccc;padding-left:20px;}
.sortitem .sorthandle{position:absolute;top:5px;bottom:5px;left:3px;width:8px;display:none;background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAB3RJTUUH3wIDBycZ/Cj09AAAAAlwSFlzAAALEgAACxIB0t1+/AAAAARnQU1BAACxjwv8YQUAAAAWSURBVHjaY2DABhoaGupBGMRmYiAEAKo2BAFbROu9AAAAAElFTkSuQmCC');}
.sortitem:hover .sorthandle{display:block;}

.itemactions {position: absolute;right: 0;padding: 2px 2px 0;font-size: 1.4em;}

.itemdelete{color: #F88;cursor:pointer;}
.itemdelete:hover{color: red;}
.itemdelete:before { content: "\2718";}

.itemedit:before   { content: "\270E";}

.seeornot{float:right;cursor:pointer;width: 40px;height: 40px;}

.wpecf7editors {
    display: block;
}

#wpecf7visualeditor {
   width: 40% !important;
   display: inline-block;
   float: right !important;
 
}
#wpecf7visualeditor div {
    padding-right: 10px;
}
#wpecf7textareaeditor {
    width: 52% !important;
    display: inline-block;
    float: left !important;
 	height: auto;

}
select#themes-selection-editor{
    margin: 0 auto;
    width: 108px;
    display: block;
    margin-top: 10px;    
}
.sortitem input[type='text'],.sortitem textarea,.sortitem input[type='email'],.sortitem input[type='number'], .sortitem input[type='url']{
	width: 90% !important;
}

/*style add codemirror*/
.CodeMirror{width: 100% !important; height: 450px !important; overflow-x: auto; overflow-y: auto; word-wrap: break-word;}
#wpcf7-form{display: none !important;}
